body {
  font-family: sans-serif;
  padding: 0 10px;
}
:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border-radius: 8px;
    padding: 12px;
    border: none;
    background-color: var(--btn);
    cursor: pointer;
  }
  button:hover {
    background-color: var(--btn-hover);
  }
}
.employees {
  display: flex;
  .employee-names {
    width: 30%;
  }
  .employee-info-container {
    width: 70%;
  }
  .employee-names,
  .employee-info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .employee-name-item {
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--item-bg);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .employee-name-item:hover,
  .selected {
    background-color: var(--btn);
  }
  .employee-name-heading {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px;
  }
}
.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}
.employee-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.employee-detail > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}
.add-employee {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
}
.addEmployee_create {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.addEmployee_create > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}
.addEmployee_create input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}
.addEmployee_create--submit {
  padding: 10px !important;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  cursor: pointer;
}
.addEmployee_create--submit:hover {
  background-color: var(--btn-hover);
}
